@charset "UTF-8";
/**
@name: Panda community
@Author: Andy
@Site: panda.sbfbi.xyz
*/
/* 辅助 */
/* 循环生成，padding margin 通用类*/
.panda-m-0 {
  margin: 0 !important;
}

.panda-m-1 {
  margin: 10px !important;
}

.panda-m-2 {
  margin: 20px !important;
}

.panda-m-3 {
  margin: 30px !important;
}

.panda-m-4 {
  margin: 40px !important;
}

.panda-m-5 {
  margin: 50px !important;
}

.panda-m-6 {
  margin: 60px !important;
}

.panda-mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.panda-mx-1 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.panda-mx-2 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.panda-mx-3 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.panda-mx-4 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.panda-mx-5 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.panda-mx-6 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.panda-p-0 {
  padding: 0 !important;
}

.panda-p-1 {
  padding: 10px !important;
}

.panda-p-2 {
  padding: 20px !important;
}

.panda-p-3 {
  padding: 30px !important;
}

.panda-p-4 {
  padding: 40px !important;
}

.panda-p-5 {
  padding: 50px !important;
}

.panda-p-6 {
  padding: 60px !important;
}

.panda-px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.panda-px-1 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.panda-px-2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.panda-px-3 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.panda-px-4 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.panda-px-5 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.panda-px-6 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.panda-mb-0 {
  margin-bottom: 0 !important;
}

.panda-mb-1 {
  margin-bottom: 10px !important;
}

.panda-mb-2 {
  margin-bottom: 20px !important;
}

.panda-mb-3 {
  margin-bottom: 30px !important;
}

.panda-mb-4 {
  margin-bottom: 40px !important;
}

.panda-mb-5 {
  margin-bottom: 50px !important;
}

.panda-mb-6 {
  margin-bottom: 60px !important;
}

.panda-bg-white {
  background-color: #fff;
}

.layui-tab-title .layui-this a {
  color: #46AB88;
}

.layui-tab-title .layui-this:after {
  position: absolute;
  left: 0;
  top: 39px;
  height: 0;
  content: "";
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #46AB88;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
}

.panda-form-container {
  background-color: #fff;
  padding: 10px 15px 25px;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.panda-left {
  float: left;
}

.panda-right {
  float: right;
}

.soci span {
  margin-right: 10px;
}

.soci .qq_btn {
  color: #009999;
}

.soci .weibo_btn {
  color: #cc3300;
}

.soci i {
  font-size: 22px;
  position: relative;
  top: 2px;
}

.danger {
  color: #FF5722 !important;
}

.captcha {
  position: relative;
  top: -4px;
}

.panda-active a {
  color: #5eb878;
}

.panda-panel {
  margin-bottom: 15px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.panda-panel[pad20] {
  padding: 20px;
}

.panda-panel-title {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-bottom: 1px dotted #e9e9e9;
  color: #333;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
}

.panda-panel-main {
  padding: 10px 15px;
}

.panda-mid {
  display: inline-block;
  height: 10px;
  width: 1px;
  margin: 0 10px;
  vertical-align: middle;
  background-color: #e2e2e2;
}

.panda-link {
  color: #01aaed;
}

.panda-link:hover {
  color: #5fb878;
}

.panda-right {
  position: absolute;
  right: 15px;
  top: 0;
}

/* 静态列表 */
.panda-list-static li {
  line-height: 26px;
  list-style-position: inside;
  list-style-type: disc;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.panda-list-static li a {
  color: #01aaed;
}

.panda-list-static li a:hover {
  opacity: 0.8;
}

/* 签到 */
.panda-signin cite {
  padding: 0 5px;
  color: #ff5722;
  font-style: normal;
}

.panda-signin .layui-badge-dot {
  top: -7px;
  margin-left: 0;
}

.panda-signin-list {
  padding: 0;
  line-height: 30px;
}

.panda-signin-list .layui-tab-item {
  padding: 10px;
  height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

.panda-signin-list li {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #e2e2e2;
  white-space: nowrap;
}

.panda-signin-list li:first-child {
  margin-top: 0;
}

.panda-signin-list li:last-child {
  border: none 0;
}

.panda-signin-list img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 2px;
}

.panda-signin-list span {
  padding-left: 10px;
}

.panda-signin-list span i {
  color: #ff5722;
}

.panda-signin-list .panda-none {
  padding-top: 20px;
  min-height: 0;
}

.panda-signin-days {
  position: absolute;
  right: 15px;
  padding-left: 10px;
  color: #999;
}

.panda-signin-main {
  position: relative;
  height: 38px;
  padding: 24px 15px;
  text-align: center;
}

.panda-signin-main span {
  padding-left: 10px;
}

/* 榜单 */
.panda-rank {
  padding-bottom: 10px;
}

.panda-rank dl {
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  text-align: center;
  font-size: 0;
}

.panda-rank dd {
  position: relative;
  width: 65px;
  height: 85px;
  margin: 10px 25px 5px 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  font-size: 12px;
}

.panda-rank dd a img {
  width: 65px;
  height: 65px;
  border-radius: 2px;
}

.panda-rank dd a cite {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panda-rank dd a:hover cite {
  display: block;
}

.panda-rank dd a i {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
}

/* 赞助商 */
.panda-sponsor {
  display: block;
  position: relative;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  padding: 0 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  background-color: #009688;
  color: #fff;
}

.panda-sponsor:first-child {
  margin-top: 0;
}

.panda-sponsor:hover {
  opacity: 0.9;
  color: #fff;
}

/* 友链 */
.panda-link dd {
  display: inline-block;
  vertical-align: top;
}

.panda-link a {
  line-height: 24px;
  padding-right: 15px;
}

/* 筛选 */
.panda-filter a {
  padding: 0 8px;
  color: #666;
}

.panda-filter a.layui-this {
  color: #5fb878;
}

.panda-filter .panda-mid {
  margin: 0 8px;
}

.panda-filter-right {
  position: absolute;
  right: 10px;
  top: 0;
}

/* 徽章 */
.panda-badge-vip {
  height: 16px;
  line-height: 16px;
  padding: 0 3px;
  background-color: #ff5722;
  color: #fff;
  border-radius: 2px;
}

.panda-badge-accept {
  height: 18px;
  line-height: 18px;
  padding: 0 5px !important;
  background-color: #5fb878;
  border-radius: 2px;
}

/* 分页 */
.laypage-main,
.laypage-main * {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

.laypage-main {
  margin: 20px 0;
  border: 1px solid #009e94;
  border-right: none;
  border-bottom: none;
  font-size: 0;
}

.laypage-main * {
  padding: 0 20px;
  line-height: 36px;
  border-right: 1px solid #009e94;
  border-bottom: 1px solid #009e94;
  font-size: 14px;
}

.laypage-main .laypage-curr {
  background-color: #009e94;
  color: #fff;
}

/* 列表 */
.panda-list li {
  position: relative;
  height: 45px;
  line-height: 22px;
  padding: 15px 15px 15px 75px;
  border-bottom: 1px dotted #e2e2e2;
}

.panda-list li:last-child {
  border-bottom: none;
}

.panda-list li h2,
.panda-list li h2 a,
.panda-list-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panda-list li h2 {
  height: 26px;
  font-size: 0;
}

.panda-list li h2 a {
  display: inline-block;
  max-width: 80%;
  padding-right: 10px;
  font-size: 16px;
}

.panda-list li h2 .layui-badge {
  top: -2px;
  height: 16px;
  line-height: 16px;
  padding: 0 5px;
  margin-right: 10px;
  font-size: 12px;
  border: 1px solid #5fb878;
  background: none;
  color: #5fb878;
}

.panda-list-info {
  position: relative;
  font-size: 13px;
  color: #999;
}

.panda-list-info > * {
  padding-right: 15px;
}

.panda-list-info a[link] {
  color: #999;
}

.panda-list-info a[link]:hover {
  color: #5fb878;
}

.panda-list-info .icon-renzheng {
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.panda-list-info .panda-badge-vip {
  position: relative;
  margin-left: 2px;
}

.panda-list-kiss {
  color: #ff5722;
}

.panda-list-nums {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 0 !important;
}

.panda-list-nums i {
  position: relative;
  padding: 0 3px 0 15px;
}

.panda-list-badge {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 0;
}

.panda-list-badge .layui-badge {
  margin-left: 5px;
  border-radius: 2px;
  font-size: 12px;
}

/* 单行列表 */
.panda-list-one .panda-panel-title {
  margin-bottom: 5px;
}

.panda-list-one dd {
  margin: 0 15px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  list-style: decimal-leading-zero inside;
  *list-style-type: decimal;
  color: #009e94;
}

.panda-list-one dd a,
.panda-list-one dd span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  font-style: normal;
}

.panda-list-one dd a {
  max-width: 85%;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.panda-list-one dd span {
  font-size: 12px;
  color: #ccc;
}

.panda-list-one dd:last-child {
  padding-bottom: 5px;
}

/* 头像 */
.panda-avatar {
  position: absolute;
  left: 15px;
  top: 15px;
}

.panda-avatar img {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0;
  border-radius: 2px;
}

.panda-nav-avatar img {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  border-radius: 100%;
}

.panda-nav-avatar .icon-renzheng {
  font-size: 16px;
  top: 1px;
}

.panda-nav-avatar .panda-badge-vip {
  position: relative;
  margin-left: 10px;
}

/* 设置 */
.avatar-add {
  position: relative;
  width: 373px;
  height: 373px;
  background-color: #f2f2f5;
}

.avatar-add .upload-img {
  position: absolute;
  left: 50%;
  top: 35px;
  margin: 0 0 0 -56px;
}

.avatar-add img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 168px;
  height: 168px;
  margin: -50px 0 0 -84px;
  border-radius: 100%;
}

.avatar-add .loading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  background-color: #000;
  opacity: 0.5;
  filter: Alpha(opacity=50);
}

.avatar-add p {
  position: absolute;
  top: 70px;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #999;
}
/*# sourceMappingURL=global.css.map */